<h1 class="page-header"> Tracks in {{vm.album.name}} by {{vm.artist.name}}</h1>
<a ui-sref="track-form({album_id:vm.album.id,artist_id:vm.artist.id,track_id:'new'})" type="button"
   class="btn btn-info   btn-lg"><i class="glyphicon glyphicon-plus"> Add </i></a>
<hr>
<form class="form-horizontal" role="form">
    <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">Search</label>

        <div class="col-sm-10">
            <input ng-disabled="$state.current.name != 'tracks'" placeholder="Search..." type="text" class="form-control" ng-model="query"
                   ng-change="vm.queryChanged(query)">
        </div>
    </div>
</form>
<table at-table class="table table-hover" at-pagination="trackPagination" fill-last-page>
    <thead></thead>
    <tbody>
    <tr>
        <td style="max-width:260px;word-wrap:break-word"  at-implicit sortable initial-sorting="asc" class="" attribute="name"></td>
        <td at-implicit sortable class="" title="PlayTime" attribute="playtime"></td>
        <td class="56px">
            <button ui-sref="track-form({track_id:item.id})" class="btn btn-primary btn-xs"><i
                    class="glyphicon glyphicon-pencil"> </i> Edit
            </button>
        </td>
        <td class="56px">
            <button ng-click="vm.onDeleteButtonClick(item.id)" ng-disabled="$state.current.name != 'tracks'" class="btn btn-danger btn-xs">
                <i class="glyphicon glyphicon-remove-sign"></i> Delete
            </button>
        </td>
    </tr>
    </tbody>
</table>
<at-pagination items-per-page="10" instance="trackPagination" list="filteredTracks"></at-pagination>
